  <!-- one table of the user projects submited -->
<div style="width:100%;height:400px;">

  <app-project-dropdown></app-project-dropdown>
  <app-table class="register__container" ></app-table>

  <app-pagination class="pagination"></app-pagination>
</div>
  <!-- getts the user project name and id and send it to the table (dropdown)  -->
  <!--
  parent get the infromation on the project and uploads the table (app-table)
 keep track of the pagination count (pagination)
-->

<!-- PS. add a drop down here i dont want to be looking at a drop down anyware outside of the method -->
