<div class="login__box">
        <p class="login__logo"> Login </p>
          <form class="form" action="" #userForm="ngForm" (ngSubmit)="onSubmit(userForm)">
            <div class="form__group">
                <label class="form__label" for="username">Username</label>
                <input class="form__input form-control"  type="text" name="username"   ngModel>
            </div>
            <div class="form__group">
                <label class="form__label"  for="password">Password</label>
                <input class="form__input form-control" type="password" name="password"   ngModel/>
            </div>
            <div class="form__group">
              <button type="submit" class="btn btn__login btn--orange">Login</button>
            </div>
            <div class="form__group">

            <label class="checkbox__container" >
              <input class="checkbox__input" type="checkbox" >
              <span class="checkbox__checkmark"></span> Remember me</label>
            </div>
          </form>
          <div class="group__logs">
            <a class="btn btn__signup btn--orange" [routerLink]="['/register']"> sign up </a>
            <a class="link" [routerLink]="['/profile/project']">Forget password?</a>

          </div>
      </div>
