<!-- when hover over the content in this box it give the user the tooltip -->
<button class="tooltip__btn" (click)="showToolTip()">
  <svg  class="header__profile-icon">
      <use xlink:href="../assets/sprite.svg#icon-user-circle-o"></use>
  </svg>
  <div class="tooltip__screen" [ngClass]="displayToolTip()"></div>
  <div class="tooltip__box" [ngClass]="displayToolTip()">
    <div class="tooltip__content">
      <p class="tooltip__user_name">{{name}}</p>
      <p class="tooltip__member-text">Member since</p>
      <p class="tooltip__member-date">{{userDate | date: "MMMM-yyyy"}}</p>
      <div class="tooltip__content-box">
        <input (click)="goToProfilePage()" type="button" class="tooltip__profile_btn" value="profile">
        <input (click)="logoutUser()" type="button" class="tooltip__signout_btn" value="sign out">
      </div>
    </div>
  </div>

</button>
