<!-- drop down menu for projects  -->
    <div class="dropdown__block">
     <div class="dropdown__projects">
       <p class="dropdown__text">Project 2</p>
       <button class="dropdown__btn">
         <svg class="dropdown__btn-svg">
            <use xlink:href="img/sprite.svg#icon-play"></use>
         </svg>
       </button>
       <div class="dropdown__box">
         <ul class="dropdown__list">
           <li class="dropdown__items">
             <input class="dropdown__input" type="text" name="searchProjects" >
             <svg class="dropdown__input-svg">
                <use xlink:href="img/sprite.svg#icon-search"></use>
              </svg>
           </li>
           <li class="dropdown__items">Project 1</li>
           <li class="dropdown__items">Project 2</li>
           <li class="dropdown__items">Project 3</li>
           <li class="dropdown__items">Project 4</li>
         </ul>
       </div>
     </div>
   </div>
