<!--The content below is only a placeholder and can be replaced.-->
<div>
  <app-header></app-header>
  <!-- <div style="display: flex;">
      <a style="margin-right: 10px;" [routerLink]="['']">splash</a> <br>
      <a style="margin-right: 10px;" [routerLink]="['login']">login</a> <br>
      <a style="margin-right: 10px;" [routerLink]="['register']">register</a><br>
      <a style="margin-right: 10px;" [routerLink]="['profile/project']">project</a> <br>
      <a style="margin-right: 10px;" [routerLink]="['profile/create']">create</a> <br>
      <a style="margin-right: 10px;" [routerLink]="['profile/template']">template</a> <br>
      <a style="margin-right: 10px;" [routerLink]="['profile/formula']">formula</a> <br>
  </div> -->
  <main id="main" class="main" style="position: relative">
    <app-navigation ></app-navigation>
    <router-outlet></router-outlet>
  </main>
</div>
