
.register{
  &__header{
    width: 100%;
    height: 40px;
    background-color: #777;
    display:flex;
    justify-content: space-between;
    align-items: center;
  }
  &__name{
        margin-left: 1rem;
    font-size:1.4rem;
    color:#fff;
    // background-color: blue;
    // flex-grow: 2;
    width:20rem;
  }


}
